@using System.Data;
@model DataTable;
<table class="table">
    <th>ID</th>
    <th>NAME</th>
    <th>HINDI</th>
    <th>MARATHI</th>
    <th>ENGLISH</th>
    <th>TOTAL</th>
    <tbody>
        @{int count=0;}
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["name"]</td>
                <td>@dr["sub1"]</td>
                <td>@dr["sub2"]</td>
                <td>@dr["sub3"]</td>
                @{
                    count++;
                    int total=0;
                    total=Convert.ToInt32(@dr["sub1"])+Convert.ToInt32(@dr["sub2"])+Convert.ToInt32(@dr["sub3"]);
                }
                <td>@total</td>
            </tr>
            
        }
        @{
            if(count==3)
            {
              <tr align="center"><Button type="click">CLICK HERE TO GET AVERAGE</Button></tr>
            }
        }
      
    </tbody>
    